<!DOCTYPE html>

<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{%- include head.html -%}

<body class="{% if site.darkmode == true and site.darkmode != 'never' %}dark{% endif %}">

  <main class="page-content" aria-label="Content">
    <div class="container header-container" aria-label="Content">
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-8 header-container">
        <h1 class="row">
          {{ page.title }}
        </h1>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 header-container">
          <div class="col-md-12">
            {{ content }}
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 header-right">
          Written on {{ page.date | date: "%B %e, %Y" }}
        </div>
      
      </article>
    </div>
  </main>

  {% if site.darkmode == false %}
    <script src="{{ '/assets/js/index.js' | relative_url }}"></script>
  {% endif %}
</body>

</html>